body{
    margin: 0;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.header {
    background-color: #f3f3f3;
    display: flex;
    align-items: baseline;
    padding: .5rem;
    gap: 1rem;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: #777;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.link:hover {
    color: black;
}

.dropdown {
    position: relative;
}

.dropdown-menue {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color: white;
    padding: .75rem;
    border-radius: .25rem ;
    box-shadow: 0 5px 5px 0 rgba( 0, 0, 0, .3 );
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.dropdown > .link:focus + .dropdown-menue {
    opacity: 1;
}